.floatDiv{ position: absolute; z-index: 999999; }
.mask{position:fixed; top: 0px; border: 0pt none; left: 0px; opacity: 0.2; background-color: rgb(0, 0, 0); width: 1024px; height: 768px;}
.pagingbar a{ padding:5px; text-decoration:none;}
.pagingbar .hover{ color:red;}

/*弹出层样式*/
.d_dialog
{
	position: absolute;
	border: 1px solid #6B97C1;
	background-color:#eff3f6;
	text-align:left;
	padding:10px;
    z-index:99999
}

.d_toolbar
{
	cursor: move;
	font: bold 14px Arial;
	line-height:25px;
	color: #fff;
	overflow: hidden;
	text-indent:5px;
	background:#8BACCF;
	height:28px;
	margin-bottom:10px;
}

.jBoxControls{ float:right; margin-right:8px;}
#btn_close {background:transparent url(../skin/Images/cancel.png) no-repeat; width:16px; height:16px; border:0;}
#btn_close:hover
{
	cursor:pointer;
}
.d_content
{
	background-color: #fff;
	color: #000;
	
	overflow: auto;
	font-size:13px;
	border:0;
}
